@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,700&family=Oswald&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --indigo: #34497c;
  --lightblue: #4b69b1;
  --silver: #585858;
  --lightsilver: #828282;
  --orange: #fba702;
  --darkindigo: #253458;
  --black: #000000;
}

body {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  line-height: 1.3em;
  color: var(--lightsilver);
}
/* Top Section */
.top {
  background-color: var(--indigo);
  padding: 30px 0;
  color: white;
}

.logo {
  text-align: center;
}
.top p {
  margin: 0;
}

/* First Screen section */
.firstscreen {
  background-image: url(../img/b846355c7b9411ac762bc2b1499df243.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  min-height: calc(100vh - 110px);
  padding: 15px 0;
}

form {
  background-color: var(--lightblue);
  color: white;
  padding: 50px 15px;
  text-align: center;
  font-weight: bold;
}

.firstscreen h2 {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: bold;
  background-image: url(../img/Group\ 10.svg);
  background-repeat: repeat-x;
  background-position: center;
}

.firstscreen span {
  background-color: var(--lightblue);
  display: inline-block;
  padding: 0 30px;
}

.firstscreen p {
  font-size: 1.5em;
}

input,
button {
  border: none;
  outline: none;
  display: block;
  height: 50px;
  background-color: var(--darkindigo);
  color: white;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 0 24px;
}

input:focus {
  color: white;
  background-color: var(--indigo);
}

button {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  padding: 0 24px;
  font-size: 26px;
}

.lenta {
  background-image: url(../img/Group\ 7.svg);
  height: 117px;
  margin: 30px -26px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lenta::after,
.lenta::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -13px;
  border-top: 13px solid #a86f00;
}

.lenta::before {
  border-left: 13px solid transparent;
  left: 0;
}
.lenta::after {
  border-right: 13px solid transparent;
  right: 0;
}

.steps {
  background-image: url(../img/3q.png);
}

.testimonials {
  background-image: url(../img/gg.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.subscribe {
  background-color: var(--orange);
}
.footer {
  background-color: var(--black);
}

/* STEPS */

.steps {
  text-align: center;
  font-family: EB Garamond, serif;
}

.text1 p {
  font-style: italic;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--silver);
}

.text1 h2 {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--indigo);
  line-height: 36px;
  margin: 21px auto;
  font-family: Oswald, sefir;
}

.fon {
  background-color: #253458;
  min-width: 40vh;
  min-height: 193.21px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fon img {
  width: 107px;
  height: 107px;
}

.fon:before {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid var(--darkindigo);
  position: relative;
  transform: rotate(45deg);
  top: 95px;
  left: 56px;
}

.fon:hover {
  background-color: #fba702;
}
.fon:hover:before {
  border: 7px solid #fba702;
}

.block {
  font-size: 16px;
  font-weight: 400px;
  line-height: 22px;
}

.block h2 {
  margin-top: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31.5px;
  color: var(--darkindigo);
}

/* GALLERY */

.gallery {
  text-align: center;
  font-family: EB Garamond, serif;
}

.f2 {
  background-color: white;
  margin: 0 auto;
}
.f2:hover {
  background-color: white;
}

.f2:hover:before {
  display: none;
}

.f2:before {
  border: 0;
}

.f2 img {
  width: 100%;
  height: 100%;
}

.b2 {
  color: #c4c4c4;
}

@media screen and (max-width: 768px) {
  .logo {
    text-align: left;
  }
  .firstscreen {
    padding: 70px 0;
  }
}

@media screen and (max-width: 992px) {
}

@media screen and (min-width: 1200px) {
  .fon {
    min-width: 30vh;
  }
}
