* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --indigo: #34497c;
  --lightblue: #4b69b1;
  --silver: #585858;
  --lightsilver: #828282;
  --orange: #fba702;
  --darkindigo: #253458;
  --black: #000000;
}

/* TESTIMONIALS */

.testimonials {
  min-height: 90vh;
  font-family: garamond, sans-serif;
}

.testimon_ph {
  margin-top: 60px;
  text-align: center;
}

.testimon_text {
  font-style: italic;
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: var(--darkindigo);
  margin-top: 30px;
}

.testimon_line {
  text-align: center;
}

.but_text {
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  color: var(--darkindigo);
  text-transform: uppercase;
}

/* VIDEOSECTION */

.videosection {
  min-height: 60vh;
  font-family: EB garamond, sans-serif;
}

.videosection h2 {
  font-family: Oswald sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: var(--indigo);
}

.videosection p {
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: var(--silver);
  margin-bottom: 60px;
}

.pho {
  min-width: 50vh;
}

.pho img {
  width: 100%;
}

ul {
  list-style-image: url(/img/bul-list\ 1.png);
}

li {
  font-size: 18px;
  font-weight: 400;
  line-height: 33px;
}

/* SUBSCRIBE */

.subs_text {
  font-family: EB garamond, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.s {
  padding: 20px;
}

.bbb {
  background-color: rgb(255, 255, 255);
  color: #000000;
}

.bs {
  background-color: #a86f00;
  margin: 0 auto;
}

.fb {
  padding: 0;
}

.bbb:focus {
  background-color: rgba(173, 165, 51, 0.418);
}

/* FOOTER  */

.c1 > h2 {
  font-family: EB garamond serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--orange);
  margin-top: 30px;
}
.c1 > p {
  font-family: EB garamond serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: white;
}

ol {
  color: white;
}

ol > li {
  list-style-image: url(/img/Group\ 6.png);
}
ol > li:last-child {
  list-style-image: url(/img/Group.png);
}

@media screen and (max-width: 540px) {
  .testimon_text {
    font-size: 22px;
    line-height: 35px;
  }

  .but_text {
    font-size: 25px;
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }

  .but_text {
    font-size: 20px;
  }

  ul {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  ul {
    display: none;
  }
  .footer {
    display: none;
  }
  .testimon_ph {
    margin-top: 85px;
  }
}

@media screen and (min-width: 576px) {
  .footer {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  ul {
    text-align: center;
    list-style-position: inside;
    margin-top: 20px;
  }
  .testimon_ph {
    margin-top: 40px;
  }

  .testimon_text {
    margin-top: 100px;
  }
  .testimon_line {
    margin-top: 40px;
  }
  .but_text {
    margin-top: 50px;
  }

  .subs_text {
    text-align: center;
  }
  .fb {
    text-align: center;
  }

  .bs {
    width: 250px;
  }

  .footer {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .testimon_ph {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .testimon_ph {
    margin-top: 120px;
  }

  .testimon_text {
    margin-top: 40px;
  }
  .testimon_line {
    margin-top: 50px;
  }
  .but_text {
    margin-top: 50px;
  }

  .footer {
    display: block;
  }
}
